@value homeColor, aboutColor from "../global/colors.css";
@value easeOutCubic from "../global/animations.css";
@value smheight large from '../global/breakpoints.css';

@value contentHorizontalPadding: 10%;
.content
{
    width: auto;
    
    margin: auto;
    padding-left: contentHorizontalPadding;
    padding-right: contentHorizontalPadding;
}

@value headerFontSize: 9vh;
.header
{
    font-size: headerFontSize;
}

.aboutColor
{
    background-color: aboutColor;
}

@value bioTopMargin: 1.5vh;
@value bioBottomMargin: 7.5vh;
@value bioFontSize: 1.9vh;
.bio
{
    display: flex;
    flex-direction: column;

    margin-top: bioTopMargin;
    margin-bottom: bioBottomMargin;
    padding: 1em 2em 1em 2em;

    font-size: bioFontSize;
    font-family: 'Nunito';
    color: white;
    
    overflow-y: auto;
    overflow-x: hidden;

    background-color: rgba(0, 0, 0, 0.4);
}

.list
{
    padding-left: 2em;
}

.bioInTransition
{
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: opacity 1s easeOutCubic, clip-path 1s easeOutCubic;
}

.bioIn
{
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.bioOutTransition
{
    transition: opacity 0.65s easeOutCubic 0s, clip-path 1s easeOutCubic;
}

.bioOut
{
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.link
{
    color: white;
}

@media (max-height: smheight)
{
    .header
    {
        /* smheight(px) * headerFontSize(vh%) */
        font-size: 60.03px;
    }

    .bio
    {
        /* smheight(px) * bioTopMargin(vh%) */
        margin-top: 10.005px;

        /* smheight(px) * bioBottomMargin(vh%) */
        margin-bottom: 50.025px;

        /* smheight(px) * bioFontSize(vh%) */
        font-size: 12.673px;
    }
}