@value aboutColor from "../global/colors.css";
@value easeOutCubic from "../global/animations.css";
@value small, large from '../global/breakpoints.css';
@value headerMargin from "./header.css";

@value sideMargin: 15px;

.page
{
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    min-height: calc(100% - 2 * headerMargin);
    padding: headerMargin sideMargin headerMargin sideMargin;
}

.content
{
    width: calc(small + 25%);
    min-width: calc(small - 2 * sideMargin);
    max-width: large;
    min-height: 150px;
    margin: auto;
}

.headerStyle
{
    font-size: responsive 48px 96px;
    font-range: 860px 2560px;
}

.headerColor
{
    background-color: aboutColor;
}

.bio
{
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-bottom: 30px;
    padding: 1em 2em 1em 2em;

    font-size: responsive 12px 20px;
    font-range: 250px 2560px;
    font-family: 'M+P1-Thin';
    color: white;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: rgba(0, 0, 0, 0.4);
}

.bioInTransition
{
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: opacity 0.65s easeOutCubic 0.35s, clip-path 0.65s easeOutCubic 0.35s;
}

.bioIn
{
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.bioOutTransition
{
    opacity: 1;
    transition: opacity 0.65s easeOutCubic 0s;
}

.bioOut
{
    opacity: 0;
}

.bioLink
{
    color: white;
}