@value homeColor from '../global/colors.css';

.background
{
    position: fixed;
    background-image: url(../../img/bg.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;

    composes: fadeIn from "../global/animations.css";
    animation-duration: 1s;

    overflow-x: hidden;
}

.background::-webkit-scrollbar
{
    width: 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

.background::-webkit-scrollbar-thumb
{
    background-color: homeColor;
}