@value homeColor from '../global/colors.css';

.page
{
    display: grid;
    position: fixed;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas: "header"
                         "content"
                         "footer";

    background-image: url(../../img/bg.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;

    composes: fadeIn from "../global/animations.css";
    animation-duration: 1s;

    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
}

.page::-webkit-scrollbar
{
    width: 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

.page::-webkit-scrollbar-thumb
{
    background-color: homeColor;
}

.header
{
    grid-area: header;
}

.content
{
    grid-area: content;
}

.footer
{
    grid-area: footer;
}
