@value blogColor from "../global/colors.css";
@value easeInCubic, easeOutCubic from "../global/animations.css";
@value small, large from "../global/breakpoints.css";

@value minTitleFontSize: 20px;
@value maxTitleFontSize: 32px;
@value minSubFontSize: 12px;
@value maxSubFontSize: 16px;

.post
{
    margin-top: 1px;
}

.postInTransition
{
    width: 50%;
    transition: width 1s easeOutCubic 0s;
}

.postIn
{
    width: 100%;
}

.postOutTransition
{
}

.postOut
{
    width: 75%;
}

.linkButton
{
    /* relative allows for colorBar to size itself relative to linkButton */
    position: relative;
    overflow: hidden;
    cursor: pointer;

    width: 100%;
    min-height: 100px;

    text-align: left;
    font-family: 'M+P1-Thin';
    color: white;

    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.65s easeOutCubic 0s;
}

.linkButton:hover
{
    background-color: rgba(0, 0, 0, 0.6);
}

.postColorBar
{
    position: absolute;
    top: 0;
    left: 0;

    width: 3px;
    height: 100%;

    background-color: blogColor;
}

.postText
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 3px);
}

.postTitle
{
    flex: 1 1;
    margin-left: 25px;
    margin-right: 10px;

    /* responsive font size based on css locks calculations; see https://fvsch.com/code/css-locks/ */
    font-size: calc(2.857vw - 4.57px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.postDate
{
    flex: 0 0 content;
    margin-right: 25px;

    /* responsive font size based on css locks calculations; see https://fvsch.com/code/css-locks/ */
    font-size: calc(0.952vw + 3.8128px);
    line-height: 1.2em;
    text-align: right;
}

.postDescription
{
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;

    /* responsive font size based on css locks calculations; see https://fvsch.com/code/css-locks/ */
    font-size: calc(0.952vw + 3.8128px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media small
{
    .linkButton
    {
        composes: linkButton;
        min-height: 75px;
    }

    .postTitle
    {
        composes: postTitle;
        font-size: minTitleFontSize;
    }

    .postDate
    {
        composes: postDate;
        font-size: minSubFontSize;
    }
    
    .postDescription
    {
        composes: postDescription;
        font-size: minSubFontSize;
    }
}

@media large
{
    .postTitle
    {
        composes: postTitle;
        font-size: maxTitleFontSize;
    }

    .postDate
    {
        composes: postDate;
        font-size: maxSubFontSize;
    }

    .postDescription
    {
        composes: postDescription;
        font-size: maxSubFontSize;
    }
}