@value easeInCubic, easeOutCubic from "../global/animations.css";
@value sideMargin: 15px;

.page
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 999;
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.75);
}

.pageInTransition
{
    opacity: 0;
    transition: opacity 0.35s easeOutCubic 0s;
}

.pageIn
{
    opacity: 1;
}

.pageOutTransition
{
    opacity: 1;
    transition: opacity 0.35s easeOutCubic 0s;
}

.pageOut
{
    opacity: 0;
}

@value buttonMinWidth: 35px;
.button
{
    fill: rgba(255, 255, 255, 0.15);
    transition: fill 0.35s easeOutCubic 0s;
}

.button:hover
{
    fill: rgba(255, 255, 255, 1);
}

.closeButton
{
    position: absolute;
    top: 0;
    right: 0;

    width: calc(buttonMinWidth + 1.5% + 1.5vh);
    min-width: buttonMinWidth;

    margin-top: 1vh;
    margin-right: 1%;
}

.navButton
{
    flex-shrink: 0;

    width: calc(buttonMinWidth + 5% + 3.5vh);
    min-width: buttonMinWidth;
}

.content
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}