@value blogColor from "../global/colors.css";
@value easeInExp, easeOutExp, easeInCubic, easeOutCubic from "../global/animations.css";
@value small from "../global/breakpoints.css";
@value headerHeight from "./header.css";

.content
{
    position: absolute;
    top: calc(1.25 * headerHeight);
    left: 0;
    right: 0;

    width: 50%;
    max-width: 900px;
    height: 65%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.contentInTransition
{
    left: -125%;
    transition: left 0.65s easeOutCubic 0s;
}

.contentIn
{
    left: 0%;
}

.contentOutTransition
{
    opacity: 1;
    transition: opacity 0.65s easeOutCubic 0s;
}

.contentOut
{
    opacity: 0;
}

.headerStyle
{
    font-size: responsive 48px 72px;
    font-range: 860px 1280px;
}

.headerColor
{
    background-color: blogColor;
}

.posts
{
    list-style: none;
    overflow-y: overlay;
    padding: 0;

    width: auto;
    max-height: 100%;
    margin-top: 25px;
    margin-bottom: headerHeight;
    margin-left: auto;
    margin-right: auto;

    /* force hardware acceleration for transitions - this prevents rendering artifacts in chrome */
    -webkit-transform: translate3d(0,0,0);
}

.posts::-webkit-scrollbar
{
    width: 6px;
    background-color: rgba(0, 0, 0, 0.5);
}

.posts::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.5);
}

.postsInTransition
{
    opacity: 0;
    width: 0%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: opacity 0.65s easeOutCubic 0.35s, clip-path 0.65s easeOutCubic 0.35s;
}

.postsIn
{
    opacity: 1;
    width: 92%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.postsOutTransition
{
    transition: opacity 0.65s easeOutCubic 0s;
}

.postsOut
{
    opacity: 0;
}

@media small
{
    .content
    {
        composes: content;
        width: 90%;
    }

    .contentIn
    {
        composes: contentIn;
        margin-left: 5%;
    }

    .posts
    {
        composes: posts;
        margin-top: 15px;
    }
}