@value blogColor from "../global/colors.css";

@value easeInCubic from "../global/animations.css";
@value easeOutCubic from "../global/animations.css";

.content
{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 46%;
    height: 80%;
    margin-top: 10vh;
    margin-left: 27%;
}

.contentInTransition
{
    opacity: 0;
    transition: opacity 0.65s easeOutCubic 0s;
}

.contentIn
{
    opacity: 1;
}

.contentOutTransition
{
}

.contentOut
{
    opacity: 0;
}

.linkButton
{
    composes: linkButton from './blog-list-item.css';
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.65);
}

.linkButton:hover
{
    background-color: rgba(0, 0, 0, 0.85);
}


.postColorBar
{
    composes: postColorBar from './blog-list-item.css';
}

.postText
{
    composes: postText from './blog-list-item.css'
}

.postTitle
{
    composes: postTitle from './blog-list-item.css';
}

.postDate
{
    composes: postDate from './blog-list-item.css';
}

.postDescription
{
    composes: postDescription from './blog-list-item.css';
}

.post
{
    height: calc(100% - 100px);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
    overflow-y: auto;
    color: white;
    font-family: 'M+P1-Thin';
}