@value easeOutCubic from "../global/animations.css";
@value blogColor from "../global/colors.css";

@value imageMargin: 2px;

.imageBlock
{
    display: flex;
    flex-direction: column;

    margin: 2em 0 2em 0;

    overflow: hidden;
}

.imageGroup
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.imgCell
{
    position: relative;

    min-width: 200px;
    max-width: 100%;
    margin: imageMargin;

    cursor: zoom-in;

    overflow: hidden;
    background-color: white;
}

.img
{
    display: block;

    width: 100%;
    height: auto;

    /* hack: rotate prevents jerky scaling transitions in firefox */
    transform: translateZ(0) scale(1.01) rotate(0.02deg);
    transition: opacity 0.65s easeOutCubic 0s, transform 0.65s easeOutCubic 0s;
}

.imgCell:hover > img
{
    opacity: 0.75;
    transform: translateZ(0) scale(1.025) rotate(0.02deg);
}

.imgCaptionGroup
{
    position: absolute;
    left: 0;
    bottom: 0;

    max-width: 50%;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.5em;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity 0.55s easeOutCubic 0s, background-color 0.55s easeOutCubic 0s;
}

.imgCell:hover > .imgCaptionGroup
{
    opacity: 1;
    background-color: blogColor;
}

.imgCaptionHeader
{
    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imgCaptionDescription
{
    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}