@value blogColor from "../global/colors.css";
@value easeInCubic, easeOutCubic from "../global/animations.css";
@value headerMargin from "./header.css";

.content
{
    position: absolute;

    max-width: 100%;
    margin: 0;

    font-family: 'M+P1-Thin';
    color: white;
}

.contentInTransition
{
    opacity: 0;
    transition: opacity 0.5s easeOutCubic 0s;
}

.contentIn
{
    opacity: 1;
}

.contentOutTransition
{
    opacity: 1;
    transition: opacity 0.5s easeOutCubic 0s;
}

.contentOut
{
    opacity: 0;
}

.image
{
    display: block;
    margin: 0 auto 7px auto;

    max-width: 100%;
    max-height: calc(85vh - 2 * headerMargin);

    user-select: none;
}

.captionContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    min-height: 75px;

    background-color: blogColor;
}

.imageText
{
    display: flex;
    flex-direction: column;

    margin-left: 1em;

    overflow: hidden;
}

.imageTitle
{
    margin: 0;

    font-size: responsive 16px 24px;
    font-range: 215px 1280px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imageCaption
{
    font-size: responsive 12px 18px;
    font-range: 215px 1280px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imageIndex
{
    margin: 0.25em 0.5em 0.25em 0.5em;

    font-size: responsive 28px 48px;
    font-range: 215px 1280px;
}