@value blogColor from "../global/colors.css";
@value easeOutCubic from "../global/animations.css";

.post
{
    margin-top: 1px;
}

.postInTransition
{
    width: 50%;
    transition: width 1s easeOutCubic 0s;
}

.postIn
{
    width: 100%;
}

.postOutTransition
{
    width: 100%;
    transition: width 0.65s easeOutCubic 0s;
}

.postOut
{
    width: 75%;
}

.linkButton
{
    /* relative allows for colorBar to size itself relative to linkButton */
    position: relative;
    overflow: hidden;

    padding-left: calc(5px + 2.5%);
    padding-right: calc(5px + 2.5%);

    text-align: left;
    color: white;

    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.65s easeOutCubic 0s;
}

.linkButton:hover
{
    background-color: rgba(0, 0, 0, 0.6);
}

.postColorBar
{
    position: absolute;
    top: 0;
    left: 0;

    width: 3px;
    height: 100%;

    background-color: blogColor;
}

.postText
{
    display: flex;
    justify-content: space-between;

    width: calc(100% - 3px);
}

.postTitle
{
    flex: 1 1;
    margin-top: 0.35em;
    margin-bottom: 0;
    margin-right: 10px;

    font-size: responsive 20px 44px;
    font-range: 420px 2560px;
    font-family: 'M+P1-Thin';
    font-weight: 400;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.postDate
{
    flex: 0 0 content;
    align-self: flex-end;

    font-size: responsive 12px 20px;
    font-range: 420px 2560px;
    font-family: 'M+P1-Thin';

    line-height: 1.2em;
    text-align: right;
}

.postDescription
{
    margin-top: 0;

    font-size: responsive 12px 20px;
    font-range: 420px 2560px;
    font-family: 'M+P1-Thin';

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}