@value blogColor from "../global/colors.css";
@value easeOutCubic from "../global/animations.css";
@value small, large from '../global/breakpoints.css';
@value headerMargin from "./header.css";

@value sideMargin: 15px;

.page
{
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    min-height: calc(100% - 2 * headerMargin);
    padding: headerMargin sideMargin headerMargin sideMargin;
}

.content
{
    display: flex;
    flex-direction: column;

    position: relative;

    width: calc(small + 45%);
    min-width: calc(small - 2 * sideMargin);
    max-width: large;
    margin-left: auto;
    margin-right: auto;
}

.contentInTransition
{
    left: -25%;
    transition: left 0.65s easeOutCubic 0s;
}

.contentIn
{
    left: 0%;
}

.contentOutTransition
{
    opacity: 1;
    transition: opacity 0.65s easeOutCubic 0s;
}

.contentOut
{
    opacity: 0;
}

.headerStyle
{
    font-size: responsive 48px 96px;
    font-range: 860px 2560px;
}

.headerColor
{
    background-color: blogColor;
}

.postsContent
{
    position: relative;
    flex: 1;

    margin-top: calc(10px + 2%);
}

.postsSpinner
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 6%;
}

.postsSpinnerColor
{
    background-color: blogColor;
}

.posts
{
    list-style: none;
    overflow-y: overlay;

    width: 92%;
    margin: 0 auto 0 auto;
    padding: 0;
}

.postsInTransition
{
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: opacity 0.65s easeOutCubic 0.35s, clip-path 0.65s easeOutCubic 0.35s;
}

.postsIn
{
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.postsOutTransition
{
    transition: opacity 0.65s easeOutCubic 0s;
}

.postsOut
{
    opacity: 0;
}