@value blogColor from "../global/colors.css";
@value easeInCubic, easeOutCubic from "../global/animations.css";
@value small from "../global/breakpoints.css";
@value headerHeight from "./header.css";

.content
{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: calc(2 * headerHeight);
    left: 0;
    right: 0;
    
    width: 90%;
    max-width: 900px;
    height: 80%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: headerHeight;
}

.contentInTransition
{
    opacity: 0;
    transition: opacity 0.65s easeOutCubic 0s;
}

.contentIn
{
    opacity: 1;
}

.contentOutTransition
{
}

.contentOut
{
    opacity: 0;
}

.linkButton
{
    composes: linkButton from './blog-list-item.css';
    background-color: rgba(0, 0, 0, 0.65);
}

.linkButton:hover
{
    background-color: rgba(0, 0, 0, 0.85);
}

.postColorBar
{
    composes: postColorBar from './blog-list-item.css';
}

.postText
{
    composes: postText from './blog-list-item.css';
}

.postTitle
{
    composes: postTitle from './blog-list-item.css';
}

.postDate
{
    composes: postDate from './blog-list-item.css';
}

.postDescription
{
    composes: postDescription from './blog-list-item.css';
}

.post
{
    color: white;
    font-family: 'M+P1-Thin';

    height: calc(100% - 100px);
    padding: 35px 50px 35px 50px;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: rgba(0, 0, 0, 0.4);
}

.post::-webkit-scrollbar
{
    width: 3px;
}

.post::-webkit-scrollbar-thumb
{
    box-shadow: 0 0 35px black;
    background-color: blogColor;
}

@media small
{
    .post
    {
        composes: post;
        padding: 35px 20px 35px 20px;
    }
}