@value easeOutCubic from '../global/animations.css';
@value smheight from '../global/breakpoints.css';

.content
{
    margin: auto;

    font-family: 'M+P1-Thin';
    text-align: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.65);
}

.contentInTransition
{
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: opacity 0.65s easeOutCubic 0s, clip-path 0.65s easeOutCubic 0s;
}

.contentIn
{
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.contentOutTransition
{
    opacity: 1;
    transition: opacity 0.65s easeOutCubic 0s;
}

.contentOut
{
    opacity: 0;
}

@value headerFontSize: 20vh;
@value headerHorizontalMargin: 10vh;
.header
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: headerHorizontalMargin;
    margin-right: headerHorizontalMargin;

    font-size: headerFontSize;
}

@value textFontSize: 2.5vh;
@value textTopMargin: -2vh;
@value textBottomMargin: 2vh;
.text
{
    margin-top: textTopMargin;
    margin-bottom: textBottomMargin;

    font-size: textFontSize;
}

@media (max-height: smheight)
{
    .header
    {
        /* smheight(px) * headerHorizontalMargin(vh%) */
        margin-left: 66.7px;
        margin-right: 66.7px;

        /* smheight(px) * headerFontSize(vh%) */
        font-size: 133.4px;
    }

    .text
    {
        /* smheight(px) * textTopMargin(vh%) */
        margin-top: -33.35px;

        /* smheight(px) * textBottomMargin(vh%) */
        margin-bottom: 33.35px;

        /* smheight(px) * textFontSize(vh%) */
        font-size: 16.675px;
    }
}