@value easeOutCubic from '../global/animations.css';
@value smheight from '../global/breakpoints.css';

.content
{
    margin: auto;

    font-family: 'M+P1-Thin';
    text-align: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.65);
}

.contentInTransition
{
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: opacity 0.65s easeOutCubic 0s, clip-path 0.65s easeOutCubic 0s;
}

.contentIn
{
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.contentOutTransition
{
    opacity: 1;
    transition: opacity 0.65s easeOutCubic 0s;
}

.contentOut
{
    opacity: 0;
}

@value headerFontSize: 20vh;
.header
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.25em;
    margin-right: 0.25em;

    font-size: headerFontSize;
}

@value textFontSize: 2.5vh;
.text
{
    margin-top: -1.5em;
    margin-bottom: 1em;

    word-wrap: break-word;

    font-size: textFontSize;
}

@media (max-height: smheight)
{
    .header
    {
        /* smheight(px) * headerFontSize(vh%) */
        font-size: 133.4px;
    }

    .text
    {
        /* smheight(px) * textFontSize(vh%) */
        font-size: 16.675px;
    }
}