@value homeColor, moonlightColor, bumpsColor, blogColor, aboutColor from "../global/colors.css";

@value headerHeight: 35px;
@value headerMargin: calc(headerHeight * 1.5);

.navBar
{
    z-index: 10;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: headerHeight;
    background-color: rgba(0, 0, 0, 0.5);

    animation-name: revealHeader;
    animation-duration: 1s;
    animation-timing-function: easeOutCubic;
}

.headerButton
{
    margin-left: calc(5px + 1.5%);
    margin-right: calc(5px + 1.5%);
}

.homeColor
{
    background-color: homeColor;
}

.moonlightColor
{
    background-color: moonlightColor;
}

.bumpsColor
{
    background-color: bumpsColor;
}

.blogColor
{
    background-color: blogColor;
}

.aboutColor
{
    background-color: aboutColor;
}

@keyframes revealHeader
{
    from { clip-path: polygon(-45px 0%, 0% 0%, -45px 100%, -90px 100%); }
    to { clip-path: polygon(-45px 0%, calc(100% + 45px) 0%, 100% 100%, -90px 100%); }
}
