@value blogColor, projectsColor, aboutColor from '../global/colors.css';
@value easeOutCubic from '../global/animations.css';
@value smheight from '../global/breakpoints.css';

@value headerHeight: 10vh;
@value headerMinHeight: 66.7px; /* smheight(px) * headerHeight(vh) */
@value headerBottomMargin: 5vh;
@value headerFlexHorizontalPadding: 5vw;
.headerFlex
{
    /* border-box prevents padding from expanding width */
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    width: 100%;
    height: headerHeight;

    min-height: headerMinHeight;

    margin-bottom: headerBottomMargin;
    padding-left: headerFlexHorizontalPadding;
    padding-right: headerFlexHorizontalPadding;

    background-color: rgba(0, 0, 0, 0.5);

    animation-name: revealHeader;
    animation-duration: 0.8s;
    animation-timing-function: easeOutCubic;
}

@value logoEdgeLength: 5vh;
@value logoShadowDist: 0.4vh;
.logo
{
    display: block;
    width: logoEdgeLength;

    shape-rendering: geometricPrecision;
}

@value itemHorizontalMargin: calc(0.5vh + 1.25%);
.item
{
    margin-left: itemHorizontalMargin;
    margin-right: itemHorizontalMargin;

    opacity: 0.65;
    transition: opacity 1s easeOutCubic 0s;
}

@value textItemFontSize: 1.65vh;
@value textItemLetterSpacing: 0.25vh;
.textItem
{
    font-family: 'Nunito';
    font-size: textItemFontSize;
    color: white;
    letter-spacing: textItemLetterSpacing;
}

.activeItem
{
    opacity: 1;
}

.item:hover
{
    opacity: 1;
}

@value textItemUnderlineHeight: 0.1vh;
.textItemUnderline
{
    width: 0%;
    height: textItemUnderlineHeight;

    transition: width 0.5s easeOutCubic 0s;
}

.activeTextItemUnderline
{
    width: 100%;
}

.blogColor
{
    background-color: blogColor;
}

.projectsColor
{
    background-color: projectsColor;
}

.aboutColor
{
    background-color: aboutColor;
}

@keyframes revealHeader
{
    from { clip-path: polygon(-45px 0%, 0% 0%, -45px 100%, -90px 100%); }
    to { clip-path: polygon(-45px 0%, calc(100% + 45px) 0%, 100% 100%, -90px 100%); }
}

@media (max-height: smheight)
{
    .headerFlex
    {
        /* smheight(px) * headerBottomMargin(vh%) */
        margin-bottom: 33.35px;
    }

    .logo
    {
        /* smheight(px) * logoEdgeLength(vh%) */
        width: 33.35px;

        /* smheight(px) * logoShadowDist */
        filter: drop-shadow(3.335px 3.335px 0px rgba(0, 0, 0, 0.35));
    }

    .item
    {
        /* smheight(px) * itemHorizontalMargin(vh%) */
        margin-left: calc(3.335px + 1.25%);
        margin-right: calc(3.335px + 1.25%);
    }
    
    .textItem
    {
        /* smheight(px) * textItemFontSize(vh%) */
        font-size: 11px;

        /* smheight(px) * textItemLetterSpacing(vh%) */
        letter-spacing: 1.66px;
    }

    .textItemUnderline
    {
        /* smheight(px) * textItemUnderlineHeight(vh%) */
        height: 1px;
    }
}
