@value homeColor, moonlightColor, bumpsColor, blogColor from "../global/colors.css";
@value easeInCubic, easeOutCubic, easeInSine, easeOutSine from "../global/animations.css";
@value small, large, largeBreakpoint from "../global/breakpoints.css";

.page
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.content
{
    margin-top: 18vh;
    margin-bottom: 18vh;
    margin-left: auto;
    margin-right: auto;
}

.logoFrame
{
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    background-color: homeColor;
}

.logoFrameInTransition
{
    opacity: 0;
    clip-path: polygon(-100% 0%, 0% 0%, -100% 100%, -200% 100%);
    transition: opacity 0.65s easeOutCubic 0s, clip-path 0.65s easeOutCubic 0s;
}

.logoFrameInStyle
{
    opacity: 1;
    clip-path: polygon(-100% 0%, 200% 0%, 100% 100%, -200% 100%);
}

.logoFrameOutTransition
{
    opacity: 1;
    clip-path: polygon(-100% 0%, 200% 0%, 100% 100%, -200% 100%);
    transition: opacity 0.65s easeInCubic 0s, clip-path 0.65s easeInCubic 0s;
}

.logoFrameOutStyle
{
    opacity: 0;
    clip-path: polygon(-100% 0%, 0% 0%, -100% 100%, -200% 100%);
}

.logo
{
    stroke: white;
    stroke-width: 5%;
    stroke-dasharray: 866px;
}

.logoInTransition
{
    stroke-dashoffset: 866px;
    transition: stroke-dashoffset 0.65s easeOutSine 0s;
}

.logoInStyle
{
    stroke-dashoffset: 0px;
}

.logoOutTransition
{
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 0.65s easeInSine 0s;
}

.logoOutStyle
{
    stroke-dashoffset: 866px;
}

.moonlightColor
{
    background-color: moonlightColor;
}

.bumpsColor
{
    background-color: bumpsColor;
}

.blogColor
{
    background-color: blogColor;
}

.mainLinksRow
{
    display: flex;
    margin: 5% auto;
    width: 90%;
}

.externalLinksRow
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.buttonsInTransition
{
    opacity: 0;
    transition: opacity 0.65s easeOutCubic 0.2s;
}

.buttonsInStyle
{
    opacity: 1;
}

.buttonsOutTransition
{
    opacity: 1;
}

.buttonsOutStyle
{
    opacity: 0;
    transition: opacity 0.65s easeInCubic 0s;
}

.link
{
    width: 33.33%;
    margin-left: 3%;
    margin-right: 3%;
}

.externalLink
{
    width: 6%;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

@media small
{
    .content
    {
        composes: content;
        width: 258px;
        margin-bottom: 0;
    }

    .logoFrame
    {
        composes: logoFrame;
        width: 60%;
    }

    .mainLinksRow
    {
        composes: mainLinksRow;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .externalLinksRow
    {
        composes: externalLinksRow;
        justify-content: space-around;
        margin-top: 10%;
    }

    .link
    {
        composes: link;
        width: 100%;
        margin-bottom: 2%;
    }

    .externalLink
    {
        composes: externalLink;
        width: 20%;
    }
}

@media large
{
    .content
    {
        composes: content;
        width: largeBreakpoint;
    }
}

