@value small, large from "../global/breakpoints.css";
@value easeOutCubic from "../global/animations.css";

@value buttonTextIndent: 2vh;
.linkButton
{
    /* relative allows for colorBar to size itself relative to linkButton */
    position: relative;
    overflow: hidden;

    text-indent: buttonTextIndent;

    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.colorBar
{
    /* absolute allows for colorBar to appear below header & subtext */
    position: absolute;
    top: 0;
    left: 0;

    width: calc(1px + 1%);
    height: 100%;
}

.colorBarHover
{
    /* absolute allows for colorBar to appear below header & subtext */
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 101%;

    clip-path: polygon(0% 0%, 0% 0%, calc(0% - 60px) 100%, calc(0% - 60px) 100%);
    transition: clip-path 0.5s easeOutCubic 0s;
}

.linkButton:hover > .colorBarHover
{
    clip-path: polygon(0% 0%, calc(100% + 60px) 0%, 100% 100%, calc(0% - 60px) 100%);
}
@value headerFontSize: 4vh;
.header
{
    /* relative enforces correct z-index against colorBar */
    position: relative;
    overflow: hidden;
    margin: 0;

    font-size: headerFontSize;
    font-family: 'M+P1-Thin';
    font-weight: 400;
    text-shadow: 0px 0px 10px black;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@value subtextFontSize: calc(headerFontSize / 2.5);
.subtext
{
    /* relative enforces correct z-index against colorBar */
    position: relative;
    overflow: hidden;

    margin-top: -0.3em;

    font-size: subtextFontSize;
    font-family: 'Nunito';
    text-shadow: 0px 0px 10px black;
    text-overflow: ellipsis;
    white-space: nowrap;
}


 @value logoMinViewportHeightBreakpoint from "./home.css";
@media (max-height: logoMinViewportHeightBreakpoint)
{
    .linkButton
    {
        /* logoMinViewportHeightBreakpoint(px) / buttonTextIndent(vh%) */
        text-indent: 13px;
    }

    .header
    {
        /* logoMinViewportHeightBreakpoint(px) / headerFontSize(vh%) */
        font-size: 27px;
    }

    .subtext
    {
        /* logoMinViewportHeightBreakpoint(px) / subtextFontSize(vh%) */
        font-size: 11px;
    }
}