@value easeOutCubic from "../global/animations.css";

.externalLinkButton
{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.linkIcon
{
    opacity: 0.5;
    transition: opacity 0.65s easeOutCubic 0s;
}

.externalLinkButton:hover > .linkIcon
{
    opacity: 0.75;
}