@value homeColor, blogColor, projectsColor, aboutColor from '../global/colors.css';
@value easeInCubic, easeOutCubic, easeInSine, easeOutSine from '../global/animations.css';
@value smheight from '../global/breakpoints.css';

@value contentHorizontalPadding: 6vw;
.content
{
    margin: auto;

    display: flex;
    flex-direction: column;
    align-content: center;

    padding-left: contentHorizontalPadding;
    padding-right: contentHorizontalPadding;
}

.contentGrid
{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto;
    
    margin: auto;
    padding-top: externalLinksFlexTopMargin;
}

.mainContentFlex
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@value logoBoxMinEdgeLength: 180px;
@value logoBoxEdgeLength: 27vh;
@value logoBoxGap: 0.5vh;
.logoBox
{
    width: logoBoxEdgeLength;
    height: logoBoxEdgeLength;

    min-width: logoBoxMinEdgeLength;
    min-height: logoBoxMinEdgeLength;

    /* this padding enforces a gap between flex items - namely the links grid and this logo */
    padding: logoBoxGap;
    
    background-clip: content-box;
    background-color: homeColor;
}

.logoBoxInTransition
{
    opacity: 0;
    clip-path: polygon(-100% 0%, 0% 0%, -100% 100%, -200% 100%);
    transition: opacity 0.65s easeOutCubic 0s, clip-path 0.65s easeOutCubic 0s;
}

.logoBoxIn
{
    opacity: 1;
    clip-path: polygon(-100% 0%, 200% 0%, 100% 100%, -200% 100%);
}

.logoBoxOutTransition
{
    opacity: 1;
    clip-path: polygon(-100% 0%, 200% 0%, 100% 100%, -200% 100%);
    transition: opacity 0.65s easeInCubic 0s, clip-path 0.65s easeInCubic 0s;
}

.logoBoxOut
{
    opacity: 0;
    clip-path: polygon(-100% 0%, 0% 0%, -100% 100%, -200% 100%);
}

.logo
{
    display: block;
    shape-rendering: geometricPrecision;
}

.logoInTransition
{
    stroke-dashoffset: 866px;
    transition: stroke-dashoffset 0.65s easeOutSine 0s;
}

.logoIn
{
    stroke-dashoffset: 0px;
}

.logoOutTransition
{
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 0.65s easeInSine 0s;
}

.logoOut
{
    stroke-dashoffset: 866px;
}

@value mainLinksRowGap: 1px;
@value mainLinksMinRowHeight: calc(logoBoxMinEdgeLength / 3 - mainLinksRowGap);
@value mainLinksRowHeight: calc(logoBoxEdgeLength / 3 - mainLinksRowGap);
.mainLinksGrid
{
    display: grid;
    grid-auto-rows: minmax(mainLinksMinRowHeight, mainLinksRowHeight);
    grid-template-columns: minmax(logoBoxMinEdgeLength, logoBoxEdgeLength);
    grid-row-gap: mainLinksRowGap;

    /* this padding enforces a gap between flex items - namely the logo and this grid */
    padding: logoBoxGap;
}

@value externalLinksFlexTopMargin: 5vh;
.externalLinksFlex
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: flex;
    justify-content: space-evenly;

    margin-top: externalLinksFlexTopMargin;
    margin-bottom: 20px;
}

@value externalLinkWidth: 6vh;
@value externalLinkMinWidth: 40px; /* smheight(px) * externalLinkMinWidth(vh%) */
.externalLink
{
    width: externalLinkWidth;
    min-width: externalLinkMinWidth;
}

.buttonsInTransition
{
    opacity: 0;
    transition: opacity 0.65s easeOutCubic 0.2s;
}

.buttonsIn
{
    opacity: 1;
}

.buttonsOutTransition
{
    opacity: 1;
    transition: opacity 0.65s easeInCubic 0s;
}

.buttonsOut
{
    opacity: 0;
}

.blogColor
{
    background: linear-gradient(to right, blogColor, #E94057);
}

.projectsColor
{
    background: linear-gradient(to right, projectsColor, #1D976C);
}

.aboutColor
{
    background: linear-gradient(to right, aboutColor, #1FA2FF);
}

@media (max-height: smheight)
{
    .contentGrid
    {
        /* smheight(px) * externalLinksFlexTopMargin(vh%) */
        padding-top: 33.33px;
    }

    .logoBox
    {
        /* smheight(px) * logoBoxGap(vh%) */
        padding: 3px;
    }

    .mainLinksGrid
    {
        /* smheight(px) * logoBoxGap(vh%) */
        padding: 3px;
    }

    .externalLinksFlex
    {
        /* smheight(px) * externalLinksFlexTopMargin(vh%) */
        margin-top: 33.33px;
    }
}