@value moonlightColor, bumpsColor, blogColor from "../global/colors.css";
@value small, large, largeBreakpoint from "../global/breakpoints.css";

.content
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.scroll
{
    overflow: auto;
}

.logo
{
    stroke: white;
    stroke-width: 5%;
    composes: animateLogoStroke from "../global/animations.css";
}

.logoFrame
{
    background-color: #9ff15d;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    composes: animateRevealLogo from "../global/animations.css";
}

.moonlightColor
{
    background-color: moonlightColor;
}

.bumpsColor
{
    background-color: bumpsColor;
}

.blogColor
{
    background-color: blogColor;
}

.mainLinksRow
{
    display: flex;
    margin: 5% auto;
    width: 90%;
}

.externalLinksRow
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.link
{
    width: 33.33%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

.externalLink 
{
    width: 7%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    text-align: center;
}

@media small
{
    .content
    {
        composes: content;
        width: 258px;
    }

    .logoFrame
    {
        composes: logoFrame;
        width: 60%;
    }

    .mainLinksRow
    {
        composes: mainLinksRow;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .externalLinksRow
    {
        composes: externalLinksRow;
        margin-top: 10%;
    }

    .link
    {
        composes: link;
        width: 100%;
        margin-bottom: 2%;
    }

    .externalLink
    {
        composes: externalLink;
        width: 100%;
    }
}

@media large
{
    .content
    {
        composes: content;
        width: largeBreakpoint;
    }
}

