@value easeInExp, easeOutCubic from "../global/animations.css";
@value blogColor from "../global/colors.css";

/*
* Spinner positions
* 1 2 3
* 4 5 6
* 7 8 9
*/

.cubeGrid 
{
    position: absolute;

    min-width: 40px;
    min-height: 40px;
    margin: auto;
}

.cubeGrid::after
{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.cubeGridInTransition
{
    opacity: 0;
    transition: opacity 0.65s easeOutCubic 0s;
}

.cubeGridIn
{
    opacity: 0.85;
}

.cubeGridOutTransition
{
    opacity: 0.85;
    transition: opacity 0.65s easeOutCubic 0s;
}

.cubeGridOut
{
    opacity: 0;
}

.content
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.cube 
{
    float: left;
    width: 33.33%;
    height: 33.33%;

    background-color: blogColor;

    animation: cubeGridScaleDelay 1.3s infinite ease-in-out; 
}

.cubeOne
{
    composes: cube;
    animation-delay: 0.2s; 
}

.cubeTwo
{
    composes: cube;
    animation-delay: 0.3s; 
}

.cubeThree
{
    composes: cube;
    animation-delay: 0.4s; 
}

.cubeFour
{
    composes: cube;
    animation-delay: 0.1s; 
}

.cubeFive
{
    composes: cube;
    animation-delay: 0.2s; 
}

.cubeSix
{
    composes: cube;
    animation-delay: 0.3s; 
}

.cubeSeven
{
    composes: cube;
    animation-delay: 0.0s; 
}

.cubeEight
{
    composes: cube;
    animation-delay: 0.1s; 
}

.cubeNine
{
    composes: cube;
    animation-delay: 0.2s; 
}

@keyframes cubeGridScaleDelay 
{
    0%, 70%, 100% 
    {
        transform: scale3D(1, 1, 1); 
    }
    35% 
    {
        transform: scale3D(0, 0, 1); 
    } 
}
