.linkButton
{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 0;
    text-indent: 8%;
    text-align: left;
}

.colorBar
{
    width: 2%;
    height: 100%;
    float: left;
}

.header
{
    font-family: 'M+P1-Thin';
    font-size: 36px;
    color: white;
    margin-top: 1%;
    margin-bottom: 0;
}

.subtext
{
    font-family: 'M+P1-Thin';
    font-size: 16px;
    color: white;
    margin-top: -1%;
}